.calc-container {
  float: left;
  width: 400px;
  font-family: 'Work Sans', sans-serif;
}

.past-container {
  float: right;
  width: 450px;
  position: relative;
  right: 200px;
}

.container{
  margin-top: 100px;
}

.display {
  background-color: black;
  color: white;
  padding-right: 30px;
  height: 100px;
}

#input-display {
  text-align: right;
  font-size: 3.8em; /* 53.2 / 14 = 3.8em */
  border-bottom:none;
  box-shadow:none;
  margin-bottom: 0;
  height: 80px;
  padding-top: 20px;
  font-weight: 200;
}

table.calc-table td {
  font-size: 2.8em; /* 39.2/14 = 2.8em */
  height: 100px;
  padding: 10px 25px;
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  background-color: #DCDCDC;
  font-weight: 300;

}
table.calc-table td:first-child {
  border-left: 1px solid black;
}

table.calc-table td:last-child {
  background-color: #FF8C00;
  color: white;
  font-size: 4em;
  font-weight: 200;
}

#no-right-border {
  border-right: 0;
}

#large {
  font-weight: bolder;
}